
header h2{
    color: rgb(2, 2, 2);
    margin-left: 2%;
}
.pic1{
    width: 645px;
    height: 398px;
    margin-left: 24%;
    margin-top: 4%;
}
.Home{
    background-color:#fcf8fb;
}


  
 
  
 
  