
header h2{
    color: rgb(2, 2, 2);
    margin-left: 2%;
}
.pic1{
    width: 641px;
    height: 400px;
    margin-left: 26%;
    margin-top: 5%;
}
p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    margin-top: 19px;
    margin-bottom: -7rem;
}
