.logo{
    width: 18%;
    margin-left: -90%;
}
nav{
    background-color: rgb(3, 1, 0);
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
}
nav a {
    color:#f1eded !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

}